## EJERCICIO COSECHAS

In [1]:
# Importar librerías
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Crear Dataframe cosecha_finca1
cosecha_finca1= pd.DataFrame([[300, 400], [100, 500], [400, 200], [600, 100]], 
                            columns=('trigo', 'maiz'), index=[2018, 2017, 2021, 2022])

In [3]:
cosecha_finca1

      trigo  maiz
2018    300   400
2017    100   500
2021    400   200
2022    600   100

In [4]:
cosecha_finca2= pd.DataFrame([[500, 300], [700, 400], [200, 800], [500, 600]], 
                            columns=('trigo', 'maiz'), index=[2017, 2018, 2022, 2020])

In [5]:
cosecha_finca2

      trigo  maiz
2017    500   300
2018    700   400
2022    200   800
2020    500   600

In [6]:
# Sumar los valores de los dos dataframes en las variables del mismo año
cosecha_finca1.add(cosecha_finca2, fill_value=0)

       trigo   maiz
2017   600.0  800.0
2018  1000.0  800.0
2020   500.0  600.0
2021   400.0  200.0
2022   800.0  900.0

In [7]:
# Ordenar cosecha_finca2 por índice descendente
cosecha_finca2.sort_index(ascending=False)

      trigo  maiz
2022    200   800
2020    500   600
2018    700   400
2017    500   300

In [8]:
# Ordenar cosecha_finca2 por valores de maiz
cosecha_finca2.sort_values(by=['maiz'])

      trigo  maiz
2017    500   300
2018    700   400
2020    500   600
2022    200   800

In [9]:
cosecha_finca1

      trigo  maiz
2018    300   400
2017    100   500
2021    400   200
2022    600   100

In [10]:
# Calcular la media de producción de trigo de los años pares y la mediana en la producción de maiz de los años pares

# Filtrar los datos de años pares con loc
anios_pares = cosecha_finca1.loc[cosecha_finca1.index % 2 == 0]

In [11]:
# Media de la producción de trigo en los años pares
media_trigo_pares = anios_pares['trigo'].mean()

In [12]:
print(f"Media de la producción de trigo en los años pares: {media_trigo_pares}")

Media de la producción de trigo en los años pares: 450.0

In [13]:
# Mediana de la producción de maíz en los años pares
mediana_maiz_pares = anios_pares['maiz'].median()

In [14]:
print(f"Mediana de la producción de maíz en los años pares: {mediana_maiz_pares}")

Mediana de la producción de maíz en los años pares: 250.0